body {
    background: #000;
}

.text {
    color: #fff;
}

.block {
    position: fixed;
    bottom: 100px;
    right: 50px;
    left: 50%;
    min-height: 100px;
    border-radius: 5px;
}

.white {
    background: #fff;
}


.red {
   background:red;
}

.circle {
    position: absolute;
    left: 50px;
    bottom: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}