@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background: #000;
}

.title {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 50px;
    margin: 20px;
}

.block-wrapper {
    display: flex;
    justify-content: center;
}

.block-wrapper::before {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background: red;
}

.block-wrapper::after {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background: blue;
}