
th,
tr,
td {
    border: 1px solid #000;
    padding: 1px 4px;
}

.calendar {
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: 'Montserrat', 'Arial', sans-serif;;
}

th {
    font-style: initial;
}

.weekends {
    color: #ff0000;
}