.block {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 1.5px solid #000;
    border-radius: 2px;
    padding: 15px;
}

label {
    display: block;
}

span {
    font-weight: 700;
}

.block__item {
    margin: 5px;
    font-weight: 500;
}

input {
    border-width: 2px;
    border-radius: 3px;
}